<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
</head>
<body>
  <h1>My Blog</h1>

<a href="/admin/new">Create New Post</a>

<hr>

  <% posts.forEach(post => { %>
    <div>
      <h2>
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
      </h2>
      <p><%= post.summary %></p>
    </div>
    <hr>
  <% }) %>
</body>
</html>