<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= post.title %></title>
</head>
<body>
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>

  <a href="/">Back to Home</a>
<br><br>
<a href="/admin/edit/<%= post.id %>">Edit Post</a>
</body>
</html>